@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300400700800&display=swap')

*
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: "Poppins", sans-serif

body
  color: #3F4255

ul, li
  list-style-type: none
  padding: 0

a
  text-decoration: none
  color: inherit

.wrapper
  max-width: 1250px
  margin: 0 auto

.navbar
  background-color: #fff
  border-bottom: 1px solid #d4d7e5
  padding: 0 25px
  position: fixed
  top: 0
  left: 0
  right: 0
  height: 70px
  z-index: 999

.navbar .wrapper
  display: flex
  align-items: center
  justify-content: space-between
  height: 100%
  position: relative

.menu
  background-color: #fff
  position: fixed
  top: 70px
  bottom: 0
  right: 0
  width: 285px
  z-index: 998
  padding: 0 35px
  box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.10)
  transform: translateX(100%)
  transition: all .6s ease
  @media (max-width: 500px)
    width: 100%

  &__link
    vertical-align: middle
    display: block
    color: #9093A6
    font-weight: 700
    line-height: 1.3
    letter-spacing: 0.5px
    padding: 22px 0
    border-bottom: 1px solid #F2F4FA
    &_contact
      display: flex
      gap: 13px
      align-items: center
      padding: 0 0
      border: none
      span
        color: #3F4255
        font-weight: 700
        letter-spacing: 0.5px

  &__contact-info
    display: flex
    flex-direction: column
    padding: 22px 0
    border-bottom: 1px solid #F2F4FA
  &__working-hours
    color: #9093A6
    font-size: 0.75rem
    font-weight: 400
    margin-top: 6px
    margin-left: 38px

.activeMenu
  transition: all .6s ease
  transform: translateX(0%)

.hamburger-menu
  display: flex
  width: 48px
  height: 48px
  padding: 12px
  justify-content: center
  align-items: center
  border-radius: 25px
  background: #fff
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08)
  cursor: pointer
  position: relative

.hamburger-menu-icon
  width: 100%
  height: 75%
  position: relative
  display: block
  cursor: pointer

  & span
    display: block
    position: absolute
    width: 24px
    height: 2px
    background: #9093A6
    transition: all 0.3s ease

    &:nth-child(1)
      top: 0

    &:nth-child(2)
      top: 9px

    &:nth-child(3)
      top: 18px

  .hamburger-menu.open & span:nth-child(1)
    transform: rotate(-45deg)
    top: 9px

  .hamburger-menu.open & span:nth-child(2)
    opacity: 0

  .hamburger-menu.open & span:nth-child(3)
    transform: rotate(45deg)
    top: 9px

.select-container
  display: flex
  justify-content: end
  margin-top: 22px

.select
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  width: 100px
  padding: 8px 24px
  color: #9093A6
  font-size: 12px
  font-weight: 800
  background: #fff
  border: none
  cursor: pointer
  background-image: url('../images/down-arrow-icon.svg')
  background-repeat: no-repeat
  background-position: 95% 54%
  outline: none
  &::-ms-expand
    display: none
  &_footer

.hero
  padding: 190px 0 0 25px
  @media (max-width: 600px)
    padding: 125px 0 0 25px

  &__title
    font-size: 3.5rem
    font-weight: 300
    line-height: 1.15
    letter-spacing: 3px
    margin-bottom: 88px
    @media (max-width: 600px)
      font-size: 2.5rem
      letter-spacing: 2px
      margin-bottom: 35px

  &__img-col
    background: url('../images/hero-img.png') no-repeat
    background-size: cover
    background-position: center
    width: 650px
    height: 650px
    position: absolute
    top: -38%
    right: 0%
    z-index: -1
    @media (max-width: 1125px)
      background-position: 100px 0
    @media (max-width: 1000px)
      background-position: 150px 20px
    @media (max-width: 950px)
      background-position: 200px 20px
    @media (max-width: 880px)
      background-position: 250px 20px
    @media (max-width: 830px)
      background-position: 300px 50px
    @media (max-width: 800px)
      background-position: 350px 50px
    @media (max-width: 735px)
      background-position: 400px 50px
    @media (max-width: 680px)
      background-position: 450px 50px
    @media (max-width: 475px)
      background-position: 480px 50px
    @media (max-width: 440px)
      background-position: 450px 50px

  &__rucola-img
    background: url('../images/rucola-img.svg') no-repeat
    background-size: cover
    background-position: center
    width: 130px
    height: 200px
    position: absolute
    top: 300px
    left: 500px
    z-index: -1
    @media (max-width: 1245px)
      left: 450px
    @media (max-width: 1200px)
      left: 400px
    @media (max-width: 1150px)
      top: 350px
      left: 330px
    @media (max-width: 830px)
      top: 350px
      left: 300px
    @media (max-width: 600px)
      top: 150px
      left: 215px
    @media (max-width: 500px)
      top: 150px
      left: 150px
    @media (max-width: 450px)
      display: none
  &__arrow-img
    background: url('../images/arrow.svg') no-repeat
    width: 65px
    height: 65px
    position: absolute
    top: 480px
    right: 55px
    @media (max-width: 1125px)
      display: none

  &__arrow-txt
    color: #313030
    font-weight: 300
    letter-spacing: 0.5px
    position: absolute
    top: 560px
    right: 10px
    @media (max-width: 1125px)
      display: none

.hero .wrapper
  position: relative
  .cta-btns
    display: flex
    gap: 24px
    @media (max-width: 600px)
      flex-direction: column
      gap: 10px
      align-items: start
    .primary-btn
      text-decoration: none
      color: inherit
      background-color: transparent
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      padding: 15px 25px
      line-height: 1.3
      border-radius: 4px
      border: 2px solid #ffe145
      transition: .3s
      @media (max-width: 600px)
        padding: 7px 0
        width: 177px
      &:hover
        background-color: #FFF7CC
        border: 2px solid #FFF7CC
      &:active
        background-color: #ffe145

      &__first-line
        font-weight: 700
        letter-spacing: 0.5px

      &__second-line
        font-size: 0.75rem
        line-height: 1.35

.cards
  max-width: 1440px
  margin: 0 auto
  @media (max-width: 600px)
    padding: 0 25px
    margin-top: -185px

  &__content
    background-color: #fff
    display: flex
    gap: 45px
    max-width: 872px
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08)
    padding: 25px 0 25px 90px
    margin-top: 250px
    margin-bottom: 50px
    @media (max-width: 875px)
      flex-direction: column
      padding: 25px
    @media (max-width: 600px)
      flex-direction: column
      gap: 8px
      padding: 20px
    @media (max-width: 350px)
      gap: 35px

  .card
    display: flex
    align-items: center
    gap: 16px
    @media (max-width: 350px)
      flex-direction: column
      text-align: center
    &__desc
      font-weight: 300
      line-height: 1.5
      letter-spacing: 0.5px

.restaurants
  margin-bottom: 70px
  @media (max-width: 1300px)
    padding: 0 25px

.title
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 65px
  @media (max-width: 400px)
    flex-direction: column
    gap: 25px
  &__txt
    font-size: 2.25rem
    font-weight: 300
    letter-spacing: 3px
    @media (max-width: 600px)
      font-size: 1.75rem
      letter-spacing: 2.25px
  &__btn
    background-color: #F2F4FA
    color: #9093A6
    font-weight: 700
    letter-spacing: 0.5px
    padding: 15px 25px
    border-radius: 4px
    transition: .3s
    &:hover
      background-color: #D4D7E5
      color: #3f4255
    &:active
      opacity: .7

.swiper-container
  position: relative
  width: 100%
  margin: 0 auto

.restaurants-swiper .swiper-card
  display: block
  border-radius: 4px
  border: 1px solid #3c3e4a14
  &__img
    display: block
    width: 100%
    border-top-left-radius: 4px
    border-top-right-radius: 4px
  &__logo
    display: block
    height: 112px
    display: flex
    align-items: center
    justify-content: center

.swiper-button-next
  background-image: url("../images/right-arrow.svg")
  background-repeat: no-repeat
  background-size: auto auto
  background-position: center
  background-color: #fff
  width: 50px
  height: 50px
  border-radius: 25px
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08)
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2))
  right: var((--swiper-navigation-sides-offset), -25px)
  &::after
    display: none

.swiper-button-prev
  background-image: url("../images/left-arrow.svg")
  background-repeat: no-repeat
  background-size: auto auto
  background-position: center
  background-color: #fff
  width: 50px
  height: 50px
  border-radius: 25px
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08)
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2))
  left: var((--swiper-navigation-sides-offset), -25px)
  &::after
    display: none

.search
  background-color: #f2f4fa
  padding: 80px 25px
  &__content
    max-width: 1100px
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-between
    @media (max-width: 1000px)
      flex-direction: column
      gap: 25px
      text-align: center
    @media (max-width: 600px)
      gap: 30px
      align-items: stretch
      text-align: left
  &__title
    font-size: 2.25rem
    font-weight: 300
    letter-spacing: 3px
    margin-bottom: 25px
    @media (max-width: 1000px)
      margin-bottom: 10px
    @media (max-width: 600px)
      font-size: 1.75rem
      letter-spacing: 2.25px
      margin-bottom: 20px
  &__desc
    font-weight: 300
    line-height: 1.5
    letter-spacing: 0.5px
    width: 60%
    @media (max-width: 1000px)
      width: 100%
  &__form
    display: flex
    gap: 4px
    @media (max-width: 400px)
      flex-direction: column
      gap: 15px

  &__txt-box
    background-color: #fff
    display: flex
    gap: 8px
    align-items: center
    height: 70px
    max-width: 335px
    border-radius: 6px
    padding: 0 15px
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08)
    @media (max-width: 600px)
      flex-grow: 1
    @media (max-width: 300px)
      gap: 2px
      padding: 0 6px
    input
      width: 100%
      height: 100%
      color: #9093A6
      font-size: 1rem
      font-weight: 300
      letter-spacing: 0.5px
      border: none
      @media (max-width: 300px)
        font-size: .9rem
      &:focus
        outline: none
      &::placeholder
        color: #9093A6

  &__btn
    background-color: #FFE145
    color: #B79C10
    border: none
    text-align: center
    font-weight: 700
    letter-spacing: 0.5px
    padding: 25px 30px
    border-radius: 4px
    cursor: pointer
    transition: .3s
    @media (max-width: 600px)
      flex-grow: 1
    &:hover
      background-color: #FFF7CC
    &:active
      background-color: #ffe145

.specialities
  padding: 70px 25px

.specialities-swiper .swiper-card
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center dense
  gap: 16px
  background-color: #fff
  padding: 24px 0
  border-radius: 6px
  border: 1px solid #3c3e4a14
  &__txt
    font-weight: 300
    letter-spacing: 0.5px

.categories
  background-color: #fafaf8
  background-image: url('../images/bg-img-desktop.svg')
  background-repeat: no-repeat
  background-position: 0 20%
  background-size: cover
  @media (max-width: 800px)
    background-image: url('../images/bg-img-mobile.png')

.categories-wrapper
  max-width: 850px
  margin: 0 auto
  padding: 90px 10px 45px
  display: grid
  grid-template-columns: repeat(4, 1fr)
  gap: 25px
  @media (max-width: 800px)
    max-width: 600px
    grid-template-columns: repeat(2, 1fr)
    column-gap: 0
    row-gap: 80px
  @media (max-width: 350px)
    grid-template-columns: 1fr
.categories-card
  display: flex
  flex-direction: column
  align-items: center
  gap: 50px
  position: relative
  &__yellow-circle
    position: absolute
    top: -15px
  &__yellow-ring
    position: absolute
    top: -35px

  &__num
    font-size: 3.5rem
    font-weight: 700
    letter-spacing: 3px
    position: relative

  &__txt
    text-align: center
    font-size: 1.5rem
    font-weight: 700

.map
  padding-top: 70px
  &__img
    width: 100%
    height: auto

.ininstagram
  padding: 70px 25px
  &__title
    color: #9093A6
    font-size: 2.25rem
    font-weight: 300
    letter-spacing: 3px
    margin-bottom: 30px
    a
      color: #313030
    @media (max-width: 1000px)
      padding: 0 25px
      margin-bottom: 40px
    @media (max-width: 800px)
      padding: 0 0
    @media (max-width: 600px)
      font-size: 1.75rem
    @media (max-width: 500px)
      margin-bottom: 30px
    @media (max-width: 350px)
      font-size: 1.5rem
    @media (max-width: 300px)
      font-size: 1.3rem

  &__img-gallery
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 25px
    @media (max-width: 1000px)
      padding: 0 25px
      grid-template-columns: repeat(2, 1fr)
    @media (max-width: 800px)
      padding: 0 0
    @media (max-width: 750px)
      gap: 20px
    @media (max-width: 500px)
      grid-template-columns: 1fr
      gap: 15px
  &__img
    width: 100%
    height: 100%
    object-fit: cover
    border-radius: 6px

.footer
  background-color: #3F4255
  color: #fff
  padding: 0 25px
  &__content
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 50px
    @media (max-width: 1175px)
      flex-direction: column
      gap: 45px
    @media (max-width: 900px)
      flex-direction: row
    @media (max-width: 715px)
      flex-direction: column
    @media (max-width: 500px)
      align-items: start
      gap: 0
  &__logo
    display: block
    margin-bottom: 50px
    @media (max-width: 1175px)
      text-align: center
    @media (max-width: 900px)
      text-align: left
    @media (max-width: 715px)
      text-align: center
  &__hl
    background-color: #D4D7E5
    width: 296px
    height: 1px
    @media (max-width: 715px)
      width: 240px
    @media (max-width: 500px)
      display: none
  &__right-col
    display: flex
    gap: 100px
  &__link-col
    display: flex
    flex-direction: column
    gap: 16px
    @media (max-width: 715px)
      text-align: center
    @media (max-width: 500px)
      text-align: left
    &_col-900
      @media (max-width: 900px)
        display: none
  &__title
    font-size: 1.5rem
    font-weight: 600
    margin-bottom: 8px
    @media (max-width: 380px)
      font-size: 1.12em
  &__link
    color: #D4D7E5
    font-weight: 700
    letter-spacing: 0.5px
    transition: all .3s ease
    &:hover
      color: #fff
    @media (max-width: 380px)
      font-size: .9rem
  &__langauge-option
    color: #D4D7E5
    font-weight: 700
    letter-spacing: 0.5px
    cursor: pointer
    transition: all .3s ease
    &:hover
      color: #fff
  &__name
    font-weight: 300
    letter-spacing: 0.5px
    @media (max-width: 380px)
      font-size: .9rem
  &__address
    font-weight: 300
    line-height: 1.5
    letter-spacing: 0.5px
    @media (max-width: 380px)
      font-size: .9rem
  &__info
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 100px
    padding-bottom: 50px
    @media (max-width: 1175px)
      padding-top: 50px
    @media (max-width: 600px)
      flex-direction: column
      gap: 35px
    @media (max-width: 500px)
      padding-top: 70px
  &__socials
    display: flex
    gap: 25px
  &__socials-link
    i
      color: #D4D7E5
      font-size: 24px
      transition: all .3s ease
      &:hover
        color: #fff
  &__data-protection
    display: flex
    gap: 60px
    @media (max-width: 715px)
      gap: 30px
    @media (max-width: 600px)
      gap: 20px
    @media (max-width: 360px)
      flex-direction: column
      text-align: center
      gap: 12px
    a
      font-size: 0.75rem
      font-weight: 800
    span
      font-size: 0.75rem
      font-weight: 400

.app-row
  display: flex
  align-items: center
  gap: 10px
  margin-top: 50px
  @media (max-width: 1175px)
    justify-content: center
  @media (max-width: 900px)
    justify-content: start
  @media (max-width: 715px)
    justify-content: center
  @media (max-width: 500px)
    display: none

.app-row-mobile
  display: flex
  align-items: center
  gap: 10px
  @media (min-width: 500px)
    display: none

.footer .select-container
  display: flex
  justify-content: start
  margin-top: 0

.footer .select
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  width: 90px
  padding: 0
  color: #D4D7E5
  font-size: 16px
  font-weight: 700
  letter-spacing: 0.5px
  background: transparent
  border: none
  cursor: pointer
  background-image: url('../images/down-arrow-icon.svg')
  background-repeat: no-repeat
  background-position: 90% 70%
  outline: none
  &::-ms-expand
    display: none
  &_footer
