@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300400700800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  color: #3F4255;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  max-width: 1250px;
  margin: 0 auto;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #d4d7e5;
  padding: 0 25px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 999;
}

.navbar .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.menu {
  background-color: #fff;
  position: fixed;
  top: 70px;
  bottom: 0;
  right: 0;
  width: 285px;
  z-index: 998;
  padding: 0 35px;
  box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: all 0.6s ease;
}
@media (max-width: 500px) {
  .menu {
    width: 100%;
  }
}
.menu__link {
  vertical-align: middle;
  display: block;
  color: #9093A6;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.5px;
  padding: 22px 0;
  border-bottom: 1px solid #F2F4FA;
}
.menu__link_contact {
  display: flex;
  gap: 13px;
  align-items: center;
  padding: 0 0;
  border: none;
}
.menu__link_contact span {
  color: #3F4255;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.menu__contact-info {
  display: flex;
  flex-direction: column;
  padding: 22px 0;
  border-bottom: 1px solid #F2F4FA;
}
.menu__working-hours {
  color: #9093A6;
  font-size: 0.75rem;
  font-weight: 400;
  margin-top: 6px;
  margin-left: 38px;
}

.activeMenu {
  transition: all 0.6s ease;
  transform: translateX(0%);
}

.hamburger-menu {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: #fff;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  position: relative;
}

.hamburger-menu-icon {
  width: 100%;
  height: 75%;
  position: relative;
  display: block;
  cursor: pointer;
}
.hamburger-menu-icon span {
  display: block;
  position: absolute;
  width: 24px;
  height: 2px;
  background: #9093A6;
  transition: all 0.3s ease;
}
.hamburger-menu-icon span:nth-child(1) {
  top: 0;
}
.hamburger-menu-icon span:nth-child(2) {
  top: 9px;
}
.hamburger-menu-icon span:nth-child(3) {
  top: 18px;
}
.hamburger-menu.open .hamburger-menu-icon span:nth-child(1) {
  transform: rotate(-45deg);
  top: 9px;
}
.hamburger-menu.open .hamburger-menu-icon span:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.open .hamburger-menu-icon span:nth-child(3) {
  transform: rotate(45deg);
  top: 9px;
}

.select-container {
  display: flex;
  justify-content: end;
  margin-top: 22px;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  padding: 8px 24px;
  color: #9093A6;
  font-size: 12px;
  font-weight: 800;
  background: #fff;
  border: none;
  cursor: pointer;
  background-image: url("../images/down-arrow-icon.svg");
  background-repeat: no-repeat;
  background-position: 95% 54%;
  outline: none;
}
.select::-ms-expand {
  display: none;
}
.hero {
  padding: 190px 0 0 25px;
}
@media (max-width: 600px) {
  .hero {
    padding: 125px 0 0 25px;
  }
}
.hero__title {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.15;
  letter-spacing: 3px;
  margin-bottom: 88px;
}
@media (max-width: 600px) {
  .hero__title {
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 35px;
  }
}
.hero__img-col {
  background: url("../images/hero-img.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 650px;
  height: 650px;
  position: absolute;
  top: -38%;
  right: 0%;
  z-index: -1;
}
@media (max-width: 1125px) {
  .hero__img-col {
    background-position: 100px 0;
  }
}
@media (max-width: 1000px) {
  .hero__img-col {
    background-position: 150px 20px;
  }
}
@media (max-width: 950px) {
  .hero__img-col {
    background-position: 200px 20px;
  }
}
@media (max-width: 880px) {
  .hero__img-col {
    background-position: 250px 20px;
  }
}
@media (max-width: 830px) {
  .hero__img-col {
    background-position: 300px 50px;
  }
}
@media (max-width: 800px) {
  .hero__img-col {
    background-position: 350px 50px;
  }
}
@media (max-width: 735px) {
  .hero__img-col {
    background-position: 400px 50px;
  }
}
@media (max-width: 680px) {
  .hero__img-col {
    background-position: 450px 50px;
  }
}
@media (max-width: 475px) {
  .hero__img-col {
    background-position: 480px 50px;
  }
}
@media (max-width: 440px) {
  .hero__img-col {
    background-position: 450px 50px;
  }
}
.hero__rucola-img {
  background: url("../images/rucola-img.svg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 130px;
  height: 200px;
  position: absolute;
  top: 300px;
  left: 500px;
  z-index: -1;
}
@media (max-width: 1245px) {
  .hero__rucola-img {
    left: 450px;
  }
}
@media (max-width: 1200px) {
  .hero__rucola-img {
    left: 400px;
  }
}
@media (max-width: 1150px) {
  .hero__rucola-img {
    top: 350px;
    left: 330px;
  }
}
@media (max-width: 830px) {
  .hero__rucola-img {
    top: 350px;
    left: 300px;
  }
}
@media (max-width: 600px) {
  .hero__rucola-img {
    top: 150px;
    left: 215px;
  }
}
@media (max-width: 500px) {
  .hero__rucola-img {
    top: 150px;
    left: 150px;
  }
}
@media (max-width: 450px) {
  .hero__rucola-img {
    display: none;
  }
}
.hero__arrow-img {
  background: url("../images/arrow.svg") no-repeat;
  width: 65px;
  height: 65px;
  position: absolute;
  top: 480px;
  right: 55px;
}
@media (max-width: 1125px) {
  .hero__arrow-img {
    display: none;
  }
}
.hero__arrow-txt {
  color: #313030;
  font-weight: 300;
  letter-spacing: 0.5px;
  position: absolute;
  top: 560px;
  right: 10px;
}
@media (max-width: 1125px) {
  .hero__arrow-txt {
    display: none;
  }
}

.hero .wrapper {
  position: relative;
}
.hero .wrapper .cta-btns {
  display: flex;
  gap: 24px;
}
@media (max-width: 600px) {
  .hero .wrapper .cta-btns {
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }
}
.hero .wrapper .cta-btns .primary-btn {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  line-height: 1.3;
  border-radius: 4px;
  border: 2px solid #ffe145;
  transition: 0.3s;
}
@media (max-width: 600px) {
  .hero .wrapper .cta-btns .primary-btn {
    padding: 7px 0;
    width: 177px;
  }
}
.hero .wrapper .cta-btns .primary-btn:hover {
  background-color: #FFF7CC;
  border: 2px solid #FFF7CC;
}
.hero .wrapper .cta-btns .primary-btn:active {
  background-color: #ffe145;
}
.hero .wrapper .cta-btns .primary-btn__first-line {
  font-weight: 700;
  letter-spacing: 0.5px;
}
.hero .wrapper .cta-btns .primary-btn__second-line {
  font-size: 0.75rem;
  line-height: 1.35;
}

.cards {
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .cards {
    padding: 0 25px;
    margin-top: -185px;
  }
}
.cards__content {
  background-color: #fff;
  display: flex;
  gap: 45px;
  max-width: 872px;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08);
  padding: 25px 0 25px 90px;
  margin-top: 250px;
  margin-bottom: 50px;
}
@media (max-width: 875px) {
  .cards__content {
    flex-direction: column;
    padding: 25px;
  }
}
@media (max-width: 600px) {
  .cards__content {
    flex-direction: column;
    gap: 8px;
    padding: 20px;
  }
}
@media (max-width: 350px) {
  .cards__content {
    gap: 35px;
  }
}
.cards .card {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 350px) {
  .cards .card {
    flex-direction: column;
    text-align: center;
  }
}
.cards .card__desc {
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.restaurants {
  margin-bottom: 70px;
}
@media (max-width: 1300px) {
  .restaurants {
    padding: 0 25px;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px;
}
@media (max-width: 400px) {
  .title {
    flex-direction: column;
    gap: 25px;
  }
}
.title__txt {
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: 3px;
}
@media (max-width: 600px) {
  .title__txt {
    font-size: 1.75rem;
    letter-spacing: 2.25px;
  }
}
.title__btn {
  background-color: #F2F4FA;
  color: #9093A6;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 15px 25px;
  border-radius: 4px;
  transition: 0.3s;
}
.title__btn:hover {
  background-color: #D4D7E5;
  color: #3f4255;
}
.title__btn:active {
  opacity: 0.7;
}

.swiper-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.restaurants-swiper .swiper-card {
  display: block;
  border-radius: 4px;
  border: 1px solid rgba(60, 62, 74, 0.0784313725);
}
.restaurants-swiper .swiper-card__img {
  display: block;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.restaurants-swiper .swiper-card__logo {
  display: block;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next {
  background-image: url("../images/right-arrow.svg");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  right: var(--swiper-navigation-sides-offset, -25px);
}
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url("../images/left-arrow.svg");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  left: var(--swiper-navigation-sides-offset, -25px);
}
.swiper-button-prev::after {
  display: none;
}

.search {
  background-color: #f2f4fa;
  padding: 80px 25px;
}
.search__content {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .search__content {
    flex-direction: column;
    gap: 25px;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .search__content {
    gap: 30px;
    align-items: stretch;
    text-align: left;
  }
}
.search__title {
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: 3px;
  margin-bottom: 25px;
}
@media (max-width: 1000px) {
  .search__title {
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .search__title {
    font-size: 1.75rem;
    letter-spacing: 2.25px;
    margin-bottom: 20px;
  }
}
.search__desc {
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.5px;
  width: 60%;
}
@media (max-width: 1000px) {
  .search__desc {
    width: 100%;
  }
}
.search__form {
  display: flex;
  gap: 4px;
}
@media (max-width: 400px) {
  .search__form {
    flex-direction: column;
    gap: 15px;
  }
}
.search__txt-box {
  background-color: #fff;
  display: flex;
  gap: 8px;
  align-items: center;
  height: 70px;
  max-width: 335px;
  border-radius: 6px;
  padding: 0 15px;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08);
}
@media (max-width: 600px) {
  .search__txt-box {
    flex-grow: 1;
  }
}
@media (max-width: 300px) {
  .search__txt-box {
    gap: 2px;
    padding: 0 6px;
  }
}
.search__txt-box input {
  width: 100%;
  height: 100%;
  color: #9093A6;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  border: none;
}
@media (max-width: 300px) {
  .search__txt-box input {
    font-size: 0.9rem;
  }
}
.search__txt-box input:focus {
  outline: none;
}
.search__txt-box input::-moz-placeholder {
  color: #9093A6;
}
.search__txt-box input::placeholder {
  color: #9093A6;
}
.search__btn {
  background-color: #FFE145;
  color: #B79C10;
  border: none;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 25px 30px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}
@media (max-width: 600px) {
  .search__btn {
    flex-grow: 1;
  }
}
.search__btn:hover {
  background-color: #FFF7CC;
}
.search__btn:active {
  background-color: #ffe145;
}

.specialities {
  padding: 70px 25px;
}

.specialities-swiper .swiper-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center dense;
  gap: 16px;
  background-color: #fff;
  padding: 24px 0;
  border-radius: 6px;
  border: 1px solid rgba(60, 62, 74, 0.0784313725);
}
.specialities-swiper .swiper-card__txt {
  font-weight: 300;
  letter-spacing: 0.5px;
}

.categories {
  background-color: #fafaf8;
  background-image: url("../images/bg-img-desktop.svg");
  background-repeat: no-repeat;
  background-position: 0 20%;
  background-size: cover;
}
@media (max-width: 800px) {
  .categories {
    background-image: url("../images/bg-img-mobile.png");
  }
}

.categories-wrapper {
  max-width: 850px;
  margin: 0 auto;
  padding: 90px 10px 45px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
@media (max-width: 800px) {
  .categories-wrapper {
    max-width: 600px;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 80px;
  }
}
@media (max-width: 350px) {
  .categories-wrapper {
    grid-template-columns: 1fr;
  }
}

.categories-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  position: relative;
}
.categories-card__yellow-circle {
  position: absolute;
  top: -15px;
}
.categories-card__yellow-ring {
  position: absolute;
  top: -35px;
}
.categories-card__num {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  position: relative;
}
.categories-card__txt {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.map {
  padding-top: 70px;
}
.map__img {
  width: 100%;
  height: auto;
}

.ininstagram {
  padding: 70px 25px;
}
.ininstagram__title {
  color: #9093A6;
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: 3px;
  margin-bottom: 30px;
}
.ininstagram__title a {
  color: #313030;
}
@media (max-width: 1000px) {
  .ininstagram__title {
    padding: 0 25px;
    margin-bottom: 40px;
  }
}
@media (max-width: 800px) {
  .ininstagram__title {
    padding: 0 0;
  }
}
@media (max-width: 600px) {
  .ininstagram__title {
    font-size: 1.75rem;
  }
}
@media (max-width: 500px) {
  .ininstagram__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 350px) {
  .ininstagram__title {
    font-size: 1.5rem;
  }
}
@media (max-width: 300px) {
  .ininstagram__title {
    font-size: 1.3rem;
  }
}
.ininstagram__img-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
@media (max-width: 1000px) {
  .ininstagram__img-gallery {
    padding: 0 25px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 800px) {
  .ininstagram__img-gallery {
    padding: 0 0;
  }
}
@media (max-width: 750px) {
  .ininstagram__img-gallery {
    gap: 20px;
  }
}
@media (max-width: 500px) {
  .ininstagram__img-gallery {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
.ininstagram__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.footer {
  background-color: #3F4255;
  color: #fff;
  padding: 0 25px;
}
.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}
@media (max-width: 1175px) {
  .footer__content {
    flex-direction: column;
    gap: 45px;
  }
}
@media (max-width: 900px) {
  .footer__content {
    flex-direction: row;
  }
}
@media (max-width: 715px) {
  .footer__content {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .footer__content {
    align-items: start;
    gap: 0;
  }
}
.footer__logo {
  display: block;
  margin-bottom: 50px;
}
@media (max-width: 1175px) {
  .footer__logo {
    text-align: center;
  }
}
@media (max-width: 900px) {
  .footer__logo {
    text-align: left;
  }
}
@media (max-width: 715px) {
  .footer__logo {
    text-align: center;
  }
}
.footer__hl {
  background-color: #D4D7E5;
  width: 296px;
  height: 1px;
}
@media (max-width: 715px) {
  .footer__hl {
    width: 240px;
  }
}
@media (max-width: 500px) {
  .footer__hl {
    display: none;
  }
}
.footer__right-col {
  display: flex;
  gap: 100px;
}
.footer__link-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 715px) {
  .footer__link-col {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .footer__link-col {
    text-align: left;
  }
}
@media (max-width: 900px) {
  .footer__link-col_col-900 {
    display: none;
  }
}
.footer__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 8px;
}
@media (max-width: 380px) {
  .footer__title {
    font-size: 1.12em;
  }
}
.footer__link {
  color: #D4D7E5;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}
.footer__link:hover {
  color: #fff;
}
@media (max-width: 380px) {
  .footer__link {
    font-size: 0.9rem;
  }
}
.footer__langauge-option {
  color: #D4D7E5;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.footer__langauge-option:hover {
  color: #fff;
}
.footer__name {
  font-weight: 300;
  letter-spacing: 0.5px;
}
@media (max-width: 380px) {
  .footer__name {
    font-size: 0.9rem;
  }
}
.footer__address {
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
@media (max-width: 380px) {
  .footer__address {
    font-size: 0.9rem;
  }
}
.footer__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 50px;
}
@media (max-width: 1175px) {
  .footer__info {
    padding-top: 50px;
  }
}
@media (max-width: 600px) {
  .footer__info {
    flex-direction: column;
    gap: 35px;
  }
}
@media (max-width: 500px) {
  .footer__info {
    padding-top: 70px;
  }
}
.footer__socials {
  display: flex;
  gap: 25px;
}
.footer__socials-link i {
  color: #D4D7E5;
  font-size: 24px;
  transition: all 0.3s ease;
}
.footer__socials-link i:hover {
  color: #fff;
}
.footer__data-protection {
  display: flex;
  gap: 60px;
}
@media (max-width: 715px) {
  .footer__data-protection {
    gap: 30px;
  }
}
@media (max-width: 600px) {
  .footer__data-protection {
    gap: 20px;
  }
}
@media (max-width: 360px) {
  .footer__data-protection {
    flex-direction: column;
    text-align: center;
    gap: 12px;
  }
}
.footer__data-protection a {
  font-size: 0.75rem;
  font-weight: 800;
}
.footer__data-protection span {
  font-size: 0.75rem;
  font-weight: 400;
}

.app-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}
@media (max-width: 1175px) {
  .app-row {
    justify-content: center;
  }
}
@media (max-width: 900px) {
  .app-row {
    justify-content: start;
  }
}
@media (max-width: 715px) {
  .app-row {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .app-row {
    display: none;
  }
}

.app-row-mobile {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 500px) {
  .app-row-mobile {
    display: none;
  }
}

.footer .select-container {
  display: flex;
  justify-content: start;
  margin-top: 0;
}

.footer .select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 90px;
  padding: 0;
  color: #D4D7E5;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  background: transparent;
  border: none;
  cursor: pointer;
  background-image: url("../images/down-arrow-icon.svg");
  background-repeat: no-repeat;
  background-position: 90% 70%;
  outline: none;
}
.footer .select::-ms-expand {
  display: none;
}/*# sourceMappingURL=style.css.map */